# Git files
.git
.gitignore

# Local environment files
.env
.env.*
!/.env.example

# Node modules (Render will install these from the cache)
node_modules

# Prisma local state
prisma/migrations
prisma/dev.db

# Documentation
README.md